.button-row {
	margin-top: rem(25px);
}

.show > {
	.btn-secondary {
		&.dropdown-toggle {
			color: #9a1463 !important;
			background: transparent !important;
			box-shadow: none !important;
		}
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	user-select: none;
	border: 0;
	line-height: 1;
	border-radius: 0;
	transition: all 0.5s ease;
	color: #fff;
	padding: rem(14px) rem(65px);
	// border-radius: 16px !important;
	border-radius: 16px;

	font-size: rem(20px);
	font-weight: 600;
	width: 270px;
	min-height: 52px;
	vertical-align: middle;
	position: relative;
	box-shadow: none !important;
	text-transform: capitalize;
	@media screen and (max-width: 767px) {
		font-size: rem(18px);
		padding-left: rem(20px);
		padding-right: rem(20px);
	}
	@media screen and (min-width: 1025px) {
		&:hover {
			text-decoration: none;
		}
	}
	.icon {
		&.big {
			svg {
				width: 24px;
			}
		}
		svg {
			width: 12px;
		}
		padding-right: rem(12px);
		display: inline-block;
	}
	&.small {
		font-size: 10px;
		padding: rem(12px) rem(24px);
		width: auto;
		min-width: 105px;
		min-height: auto;
		border-radius: 8px !important;
	}
	&.full {
		width: 100%;
	}
	&:active {
		outline: none;
		box-shadow: none;
	}
	&:focus {
		box-shadow: none !important;
	}
	&.btn-primary,
	.btn-primary:focus,
	.btn-primary:active {
		position: relative;
		z-index: 1;
		background: var(--primary) !important;
		color: #fff !important;
		border: 2px solid var(--primary) !important;
		@media screen and (min-width: 1025px) {
			&:hover {
				&::before {
					content: '';
					position: absolute;
					width: 80%;
					height: 100%;
					// background-color: var(--primary);
					background-color: inherit;
					border-radius: 8px;
					z-index: -1;
					animation: ripple 1.5s ease-out;
					animation-delay: -0.5s;
				}
			}
		}
	}
	@keyframes ripple {
		from {
			opacity: 1;
			transform: scale(0);
		}
		to {
			opacity: 0;
			transform: scale(1.8);
		}
	}
	&.btn-default {
		background: #e8e8f0;
		color: var(--textPrimary);
		border: 2px solid #e8e8f0;
		@media screen and (min-width: 1025px) {
			&:hover {
				background: #fff;
				color: var(--primary);
			}
		}
	}
	&.btn-white {
		background: #fff;
		font-size: rem(14px);
		color: var(--textPrimary);
		font-weight: 700;
		border-radius: 8px;
		min-width: 120px;
		padding: rem(8px) rem(42px);
		// height: 40px;
		display: flex;
		align-items: center;
	}
}

.radio {
	margin: 0;
	padding: 0;
	padding-bottom: rem(15px);
	label {
		padding-left: 25px;
		margin: 0;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: rem(50px);
		}
	}
	input[type='radio'] {
		display: none;
		+ span {
			display: inline-block;
			line-height: normal;
			position: relative;
			font-size: rem(16px);
			color: #606161;
			padding-left: 0px;
			img {
				vertical-align: text-top;
				margin-left: rem(3px);
			}
			&:after {
				content: '';
				width: 15px;
				height: 15px;
				background: #fff;
				border: 2px solid #919191;
				border-radius: 2px;
				position: absolute;
				top: 50%;
				left: -25px;
				transform: translateY(-50%);
			}
		}
		&:checked {
			+ span {
				&:after {
					content: '\f00c';
					position: absolute;
					color: '#fff';
					font-family: FontAwesome;
					border-radius: 2px;
					font-size: rem(13px);
				}
			}
		}
	}
}

.dropdown.bootstrap-select {
	&:focus,
	&:active {
		outline: none !important;
		box-shadow: none !important;
	}
	@media screen and (min-width: 1025px) {
		&:hover {
			outline: none !important;
			box-shadow: none !important;
		}
	}
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
	box-shadow: none !important;
	outline: none !important;
}

// :focus {
//     outline: none!important;
// }
.bootstrap-select > select.mobile-device {
	&:focus,
	&:active {
		outline: none !important;
		box-shadow: none !important;
	}
	@media screen and (min-width: 1025px) {
		&:hover {
			outline: none !important;
			box-shadow: none !important;
		}
	}
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
	outline: 0 !important;
}

// checkBox
.checkbox {
	margin: 0;
	padding-bottom: rem(25px);
	label {
		padding-left: 0;
		margin: 0;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: rem(25px);
			@media screen and (max-width: 350px) {
				margin-right: rem(30px);
			}
		}
	}
	input[type='checkbox'] {
		display: none;
		+ span {
			display: inline-block;
			line-height: normal;
			position: relative;
			font-size: rem(17px);
			color: var(--default);
			padding-left: rem(32px);
			img {
				vertical-align: text-top;
				margin-left: rem(3px);
			}
			&:after {
				content: '';
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background: transparent;
				border: 2px solid #c9c9c9;
				position: absolute;
				top: 2px;
				left: 0;
			}
		}
		&:checked {
			+ span {
				&:before {
					content: '';
					position: absolute;
					top: 2px;
					left: 0px;
					line-height: 1;
					background: var(--primary);
					z-index: 1;
					background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.70711 2.29289C1.31658 1.90237 0.683418 1.90237 0.292893 2.29289C-0.0976311 2.68342 -0.0976311 3.31658 0.292893 3.70711L2.29289 5.70711C2.68342 6.09763 3.31658 6.09763 3.70711 5.70711L7.70711 1.70711C8.09763 1.31658 8.09763 0.683418 7.70711 0.292893C7.31658 -0.0976311 6.68342 -0.0976311 6.29289 0.292893L3 3.58579L1.70711 2.29289Z' fill='white'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-position: center;
					width: 20px;
					height: 20px;
					border-radius: 100%;
				}
			}
		}
	}
}
