form {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.control-label {
    font-weight: 500;
    font-size: rem(16px);
    display: block;
    text-align: left;
    margin-bottom: 0px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 10;
    color: var(--textPrimary);
    margin-bottom: 10px;
}

.form-control {
    position: relative;
    height: 44px;
    font-size: rem(16px);
    background-color: #fff;
    border: 2px solid transparent;
    outline: none;
    border: 0;
    border-radius: 12px;
    opacity: 1;
    padding: 12px 25px;
    font-weight: 500;
    &:focus {
        border: 2px solid var(--primary) !important;
        box-shadow: none !important;
    }
    @media screen and (max-width: 767px) {
        font-size: rem(14px);
    }
    &.active {
        outline: none;
        box-shadow: none;
    }
    &::placeholder {
        opacity: 1;
        color: var(--textSecondary);
    }
    &.big {
        height: rem(128px);
    }
    &:read-only {
        border: 1px solid #dbdde4;
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient( top, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(242, 244, 248, 1) 100%);
        background: -webkit-linear-gradient( top, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(242, 244, 248, 1) 100%);
        background: linear-gradient( to bottom, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(242, 244, 248, 1) 100%);
        // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f4f8', GradientType=0);
    }
}

textarea {
    &.form-control {
        position: relative;
        height: rem(135px);
        font-size: rem(14px);
        outline: none;
        border: 0;
        border-radius: 8px;
        opacity: 1;
        transition: all 0.2s;
        touch-action: manipulation;
        padding: rem(10px) !important;
        padding-top: 10px !important;
        font-weight: 400;
        border: 1px solid #CCD4E0;
        background: transparent;
        resize: none;
        @media screen and (max-width: 767px) {
            font-size: rem(14px);
        }
        &.active {
            outline: none;
            box-shadow: none;
        }
        &::placeholder {
            opacity: 1;
            color: var(--textPrimary) !important;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            color: var(--textPrimary);
            border-width: 1px
        }
        &.big {
            height: rem(128px);
        }
        &:read-only {
            border: 1px solid #dbdde4;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient( top, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(242, 244, 248, 1) 100%);
            background: -webkit-linear-gradient( top, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(242, 244, 248, 1) 100%);
            background: linear-gradient( to bottom, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(242, 244, 248, 1) 100%);
            // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f4f8', GradientType=0);
        }
    }
}

// vue slect
.checkbox,
.radio {
    label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        input,
        svg {
            width: 20px;
            height: 20px;
        }
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            outline: none;
            background: #fff;
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            border-radius: 4px;
            transition: box-shadow 0.3s;
            box-shadow: inset 0 0 0 1px #d1d6ee;
            display: none;
            cursor: pointer;
            @media screen and (min-width: 1025px) {
                &:hover {
                    box-shadow: inset 0 0 0 1px var(--textPrimary);
                }
            }
            &:checked {
                box-shadow: inset 0 0 0 1px var(--textPrimary);
            }
        }
        svg {
            pointer-events: none;
            fill: none;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: var(--textPrimary);
            width: 20px;
            height: 20px;
            transform: scale(1) translateZ(0);
            border: 1px solid #d7d7d7;
            border-radius: 2px;
        }
        &.path {
            input {
                &:checked {
                    --s: 2px;
                    transition-delay: 0.4s;
                    &+svg {
                        // --a: 16.1 86.12;
                        // --o: 102.22;
                        stroke-dasharray: 16.1 86.12;
                        stroke-dashoffset: 102.22;
                    }
                }
            }
            svg {
                stroke-dasharray: 86.12;
                stroke-dashoffset: 86.12;
                transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
            }
        }
        span {
            padding-left: rem(7px);
            color: #4a4a4a;
            vertical-align: middle;
        }
    }
    a {
        color: var(--textPrimary);
        text-decoration: underline;
        @media screen and (min-width: 1025px) {
            &:hover {
                text-decoration: none;
            }
        }
    }
}