form {
	margin-bottom: 0;
}

.form-group {
	margin-bottom: 11px;
	position: relative;
	&.password {
		&:before {
			content: '';
			position: absolute;
			background-image: url("data:image/svg+xml,%0A%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='key' class='svg-inline--fa fa-key fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgb(146, 156, 172)' d='M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
			width: 20px;
			height: 27px;
			left: 40px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			@media screen and (max-width: 767px) {
				left: 20px;
				transform: translateY(-50%) scale(0.9);
			}
		}
	}
	&.userName {
		&:before {
			content: '';
			position: absolute;
			background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.745' height='17.725' viewBox='0 0 16.745 17.725'%3E%3Cpath id='Vector' d='M16.088,14.465a8.41,8.41,0,0,0-4.456-4.456L11.606,10a5.521,5.521,0,1,0-6.466,0l-.027.011A8.369,8.369,0,0,0,0,17.542a.178.178,0,0,0,.178.183H1.514a.178.178,0,0,0,.178-.174A6.682,6.682,0,0,1,13.1,13a6.639,6.639,0,0,1,1.955,4.549.176.176,0,0,0,.178.174h1.336a.178.178,0,0,0,.178-.183,8.3,8.3,0,0,0-.657-3.077ZM8.373,9.352A3.832,3.832,0,1,1,11.08,8.23,3.805,3.805,0,0,1,8.373,9.352Z' fill='%23253858' opacity='0.5'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			left: 40px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			@media screen and (max-width: 767px) {
				left: 20px;
				transform: translateY(-50%) scale(0.9);
			}
		}
	}
	&.email {
		&:before {
			content: '';
			position: absolute;
			background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.197' height='16.814' viewBox='0 0 18.197 16.814'%3E%3Cg id='Group' transform='translate(-151.013 -533.398)' opacity='0.5'%3E%3Cpath id='Vector' d='M0,5.315a.877.877,0,0,1,.42-.747L7.893,0l7.473,4.567a.877.877,0,0,1,.42.747v8.717a.877.877,0,0,1-.877.877H.877A.877.877,0,0,1,0,14.032Z' transform='translate(152.219 534.426)' fill='none' stroke='%23253858' stroke-width='1.754'/%3E%3Cpath id='Vector-2' data-name='Vector' d='M0,0,7.893,4.823,15.786,0' transform='translate(152.219 540.126)' fill='none' stroke='%23253858' stroke-linecap='round' stroke-width='1.754'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			left: 40px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			@media screen and (max-width: 767px) {
				left: 20px;
				transform: translateY(-50%) scale(0.9);
			}
		}
	}
}

.control-label {
	font-weight: 500;
	font-size: rem(16px);
	display: block;
	text-align: left;
	margin-bottom: 0px;
	transition: 0.5s;
	pointer-events: none;
	z-index: 10;
	color: var(--textPrimary);
	margin-bottom: 10px;
}

.form-control {
	position: relative;
	height: 42px;
	font-size: rem(15px);
	background-color: #fff;
	border: 2px solid transparent;
	outline: none;
	border: 0;
	border-radius: 8px !important;
	opacity: 1;
	padding: 12px 25px;
	font-weight: 300;
	&:focus {
		// border: 2px solid var(--primary) !important;
		box-shadow: none !important;
	}
	@media screen and (max-width: 767px) {
		font-size: rem(14px);
	}
	&.active {
		outline: none;
		box-shadow: none;
	}
	&::placeholder {
		opacity: 0.5;
		color: #253858;
	}
	&.big {
		height: rem(128px);
	}
	&:read-only {
		border: 1px solid #dbdde4;
		background: rgb(255, 255, 255);
		background: -moz-linear-gradient(
			top,
			rgba(255, 255, 255, 1) 8%,
			rgba(255, 255, 255, 1) 8%,
			rgba(242, 244, 248, 1) 100%
		);
		background: -webkit-linear-gradient(
			top,
			rgba(255, 255, 255, 1) 8%,
			rgba(255, 255, 255, 1) 8%,
			rgba(242, 244, 248, 1) 100%
		);
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 1) 8%,
			rgba(255, 255, 255, 1) 8%,
			rgba(242, 244, 248, 1) 100%
		);
		// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f4f8', GradientType=0);
	}
}
.invalid-feedback {
	position: absolute !important;
	margin-top: 5px;
}

textarea {
	&.form-control {
		position: relative;
		height: rem(135px);
		font-size: rem(14px);
		outline: none;
		border: 0;
		border-radius: 8px;
		opacity: 1;
		transition: all 0.2s;
		touch-action: manipulation;
		padding: rem(10px) !important;
		padding-top: 10px !important;
		font-weight: 400;
		border: 1px solid #ccd4e0;
		background: transparent;
		resize: none;
		@media screen and (max-width: 767px) {
			font-size: rem(14px);
		}
		&.active {
			outline: none;
			box-shadow: none;
		}
		&::placeholder {
			opacity: 1;
			color: var(--textPrimary) !important;
		}
		&:focus {
			outline: none;
			box-shadow: none;
			color: var(--textPrimary);
			border-width: 1px;
		}
		&.big {
			height: rem(128px);
		}
		&:read-only {
			border: 1px solid #dbdde4;
			background: rgb(255, 255, 255);
			background: -moz-linear-gradient(
				top,
				rgba(255, 255, 255, 1) 8%,
				rgba(255, 255, 255, 1) 8%,
				rgba(242, 244, 248, 1) 100%
			);
			background: -webkit-linear-gradient(
				top,
				rgba(255, 255, 255, 1) 8%,
				rgba(255, 255, 255, 1) 8%,
				rgba(242, 244, 248, 1) 100%
			);
			background: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 1) 8%,
				rgba(255, 255, 255, 1) 8%,
				rgba(242, 244, 248, 1) 100%
			);
			// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f4f8', GradientType=0);
		}
	}
}

.custom-checkbox {
	margin-top: rem(16px);
	display: flex;
	align-items: center;
	.custom-control-input {
		display: none;
	}
	.custom-control-label {
		padding-left: rem(32px);
		position: relative;
		color: var(--textPrimary);
		margin: 0;
		cursor: pointer;
		&::before {
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: transparent;
			border: 2px solid #c9c9c9;
			top: -3px;
			left: 0;
		}
	}
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: var(--primary);
	background: var(--primary);
	background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.70711 2.29289C1.31658 1.90237 0.683418 1.90237 0.292893 2.29289C-0.0976311 2.68342 -0.0976311 3.31658 0.292893 3.70711L2.29289 5.70711C2.68342 6.09763 3.31658 6.09763 3.70711 5.70711L7.70711 1.70711C8.09763 1.31658 8.09763 0.683418 7.70711 0.292893C7.31658 -0.0976311 6.68342 -0.0976311 6.29289 0.292893L3 3.58579L1.70711 2.29289Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
}
